body{
    background-color: hsl(217, 54%, 11%);
    
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    
}

.card{
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    width: 275px;
    padding: 1.5rem;
    box-shadow: 100%;
    
}


    .image{
     position: relative;
    }

    .image div{
        position: absolute;
        background-color: hsl(178, 100%, 50%);
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: 10px;
    }

    .image div:hover{
        opacity: 1;
        background-color: hsl(178, 100%, 50%);
        cursor: pointer;
    }
        
    .image div img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);    
    }
        
    



    .mainimage{
        width: 100%;
        height: 100%;
        height: auto;
        border-radius: 10px;
        
    }

    .name{
        color: hsl(0, 0%, 100%);
        margin-top: 1.5rem;
        font-size: 20px;
        font-weight: 600;
        
    }


    .desc{
        color:  hsl(215, 51%, 70%);
        margin: 0.6rem 0 1rem 0;
        line-height: 28px;
        font-weight: 300;
        text-align: center;
    }

    

    .cost-time{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid hsl(215, 51%, 70%);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }

    .cost{
        display: flex;
        align-items: center;
        color:  hsl(178, 100%, 50%);
        letter-spacing: 1px;

        img{
            margin-right: 5px;
        }
    }

    .time{
        display: flex;
        align-items: center;
        color: hsl(215, 51%, 70%);
        letter-spacing: 1px;

        img{
            margin-right: 5px;
        }
    }

    .info{
        img{
            display: flex;
            border-radius: 50px;
            border: 1px solid white;
            margin-right: 1rem;
            width: 30px;
        }
        display: flex;
        align-items: center;
    
        
        
    }
    .t1{
        color: hsl(215, 51%, 70%);
        font-size: 20px;
        margin-right: 10px;
        
    }
    .t2{
        color: hsl(0, 0%, 100%);
        font-size: 20px;
    }

    h3:hover,
    h4:hover{
        color: hsl(178, 100%, 50%)
        ;
    }
    .mainimage,
    h3,
    h4{
        cursor: pointer;
    }


